body {
    margin: 25px auto;
    width: 85%;
    font-family: 'Asap', sans-serif;
    background-color: aqua;
}
nav{
    border-bottom: 1.5px solid #d5d5d5; 
    font-size: 2.5em;
    background-color: cornflowerblue;
}
nav ul{
    font-family:'Jua', sans-serif;
    padding: 10px;
    margin: 0;
    background-color: #0047b3;
    list-style-type: none;
    font-weight: bold;
    position: fixed;
    top: 5px;
    width: 100%;
}


footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: bold;
}

nav ul li{
    display: inline;
    margin-right: 5px;
    background-color: aliceblue;
}

footer ul li{
    display: inline;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #956;
}

a.navB{
    color:darkblue;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.navB:hover {
    background-color:#003380;
    text-decoration: none;
}
a.navB:active {
    background-color:cornflowerblue;
}


a:hover {
    text-decoration: underline;
}








h1 {
    font-size: 2.6em;
    font-family:'Jua', sans-serif;
}

h2 {
    font-size: 2.3em;
    font-family:'Jua', sans-serif;
}

p {
    font-size: 1.3em;
    line-height: 1.6em;
    color: #333;
    
}
footer {
    border-top: 1.3px solid #d5d5d5;
    font-size: 2em;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.6em;
}

ul.posts li {
    list-style: none;
}


#me{
    border-radius: 50%;
}

