html{
    height:100%;
}

body{
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: Catamaran;
}

.center{
    text-align: center;
    margin-top: 45px;
    width: 66%;
    color: aliceblue;
    padding: 20px;

}

.dropdown{
    margin-left: 750px;
}


