#footerP{
    color: azure;
    font-family:serif;
}

#marq{
    color: blue;
}

#top{
    height: 50px;
    background-color: aquamarine;
    z-index: 2;
}


div{
    height:700px;
    margin: 0;
    padding:0;
}

.first{
    position: relative;
    z-index: 1;
}
.menubar{
    height: 700px;
    background-color:antiquewhite;
}


h1{
    color:darked;
    text-align: center;
    
    width: auto;
    padding: 10px;
    margin: 1px auto;
    font-size:3.8em;
    font-weight: 300;
    
    font-family: 'Gaegu', cursive;
}
h1:hover{
    font-size: 4.0em;
    color:black;
    
}

body{
    background: url("../images/nl1.jpg")
    no-repeat center center fixed;
    background-size: cover;
}

h2{
    color:chocolate;
    
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
    width: 200px;
    margin:0px auto;
    font-size: 2.3em;
    font-family: 'Gaegu', cursive;
    border: 1px solid red;
}

h2:hover{
    font-size: 2.4em;
}


nl{
    margin-right: 0px;
}

p{
    font-family: 'Kalam', cursive;
    font-size: 1.2em;
    
}


#h2m{
    margin: 1px auto;
    
}

section {
    
    margin: 0 auto;
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.5);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ceae2f, endColorstr=#ceae2f);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ceae2f, endColorstr=#ceae2f)";
}

.base{
    
    height: 150px;
    background-color:dimgray;
}

#galleryTitle{
    text-align: center;
}


#im{
    height: auto;
    width: 550px;;
    margin-left: 0 ;  
}

.carousel-inner{
    height:400px;
    width:auto;
}


#myCarousel{
    height:400px;
    width: 550px;
    float: left;
}


#myCarousel2{
    height:400px;
    width: 550px;
    margin-left:2px;
}

#im2{
    height: auto;
    width: 550px;;
    margin-left: 550px;  
}

#main{
    width: 1108px;
    height: auto;
    margin: 0 auto;
    border: 3px solid white;
}