<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			<link href="https://fonts.googleapis.com/css?family=Asap|Indie+Flower|Monoton" rel="stylesheet">
		</head>
		<body>
		
		
		    <nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/about.html">About</a></li>
	        		<li><a href="/cv/cv.html">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/projects/projectHome.html">Projects</a></li>
	    		</ul>
			</nav>

		
			
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a  href="mailto:a60803ndy@gmail.com">
	                <img src="../g.png" alt="mail" height="45" width="45"></a></li>
	        		<li><a href="https://www.linkedin.com/in/andy-yang-8239a2b4"><img src="../li.png" alt="linkedin" height="45" width="45"></a></li>
	        		<li><a href="https://github.com/andyyang84"><img src="../git.svg" alt="github"  height="45" width="45"></a></li>
	        		<li><a href="https://www.youtube.com/user/AndyYangXD/featured?view_as=subscriber"><img src="../y.png" alt="Youtube"  height="45" width="45"></a></li>
                    <span style="margin-left:800px"><li><a href="../chinese/chinese.html">中文頁面</a></li></span>
				</ul>
			</footer>
		</body>
	</html>
