---
layout: postDefault
---


<h1>{{ .page.title }}</h1>
<p class="meta">{{ page.date | date_to_string}}</p>


<div class="post">
    {{ content }}
</div>

    <div>
     <a href="https://andyyang84.github.io/blog/index.html">~~BACK~~</a>
    </div>
    
<style>
    a:link, a:visited {
    background-color:darkslateblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color:darkblue ;
}
</style>