---
layout: postDefault
---


<h1>{{ .page.title }}</h1>
<p class="meta">{{ page.date | date_to_string}}</p>


<div class="post">
    {{ content }}
</div>

    <div>
        <a class="back" href="https://andyyang84.github.io/blog/index.html"> BACK </a>
    </div>
    
<style>
    a.back:link{
    background-color:darkturquoise;
    border: 3px solid black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }


    a.back:hover{
        border: 3.5px solid black;
        font-size: 20px;
    }
     
    a.back:active {
    background-color:gold;
}
    

    
    .meta{
        background-color:darkblue;
        padding-left: 5px;
    }
    p{
        color: white;
        background-color: dodgerblue;
        padding-left: 5px;
    }
</style>