---
layout: postDefault
---


<h1>{{ .page.title }}</h1>
<p class="meta">{{ page.date | date_to_string}}</p>


<div class="post">
    {{ content }}
</div>

    <div>
     <a href="https://andyyang84.github.io/blog/index.html" id="back">~~BACK~~</a>
    </div>
    
<style>
    #back a:link, 
    #back a:visited {
    background-color:darkslateblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


#back a:hover, 
#back a:active {
    background-color:darkblue ;
}
    

    
    .meta{
        background-color: dodgerblue;
    }
    p{
        color: aliceblue;
    }
</style>