<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			<link href="https://fonts.googleapis.com/css?family=Asap|Indie+Flower|Monoton|Sacramento" rel="stylesheet">
		</head>
		<body>
		

			
			<div class="container">
			{{ content }}
			</div><!-- /.container -->
			
			
			
    <div>
     <a href="../blog/index.html"><img src="return.png" alt="not found!" height="55" width="55"></a>
    </div>
			
			
			
		</body>
	</html>
